body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 20px;
    background-color: peachpuff;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
    text-decoration: none;
}

header li {
    margin-left: 20px;
}

header a {
    text-decoration: none;
}

section {
    height: 100vh;
    border: 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*images code***/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home .profile {
    width: 300px;
    border-radius: 80%;
}

footer {
    text-align: center;
    padding: 50px;
}

#contact a {
    text-decoration: none;
}

section h2 {
    font-size: 3em;
}

section h3 {
    font-size: 2em;
}

#home {
    background-image: linear-gradient(rgba(255, 255, 255, 0, 75), rgba(255, 255, 255, 0, 75)), url("comp.png")
}